# For torrenting
libtorrent
bencode2

# For video processing
av
Pillow

# For parsing
bitstring
six

# For configuration
pydantic-settings

# For testing
pytest
pytest-asyncio
pytest-cov
respx
numpy

# For web server (scheduler)
fastapi
uvicorn[standard]
sqlalchemy
python-multipart
pysqlite3-binary

# For worker
aiohttp
